@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
*{

    text-decoration: none;
    list-style: none;
}
.container-fluid{
    width: 95%;
}

.btn-3:hover{
  background-color: white;
  color:black ;
}
.cross_icon{display: none;}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row { display: flex; flex-wrap: wrap; margin-top: calc(-1 * var(--bs-gutter-y)); margin-right: calc(-.5 * var(--bs-gutter-x)); margin-left: calc(-.5 * var(--bs-gutter-x)); }  

 .list ul{
    display: flex;
    justify-content: space-between;
    color: black;
 } 
 .mx-autos{
  /* margin-top: 108px; */
  display: flex;
  justify-content: center;
  margin: 75px;
 }
 .gap
 {
  margin: 40px;
 }
 .section img{
  width: 4%;
 }
 .section{
  text-align: center;

 }
 
 .emails{
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 14px;
  margin: 64px auto;
  padding: 40px 18px;
  background-color: #ffffff;
 }
 .logo>ul>li{
  display: block;
 }
 .feature{
  text-decoration: underline;
  text-decoration-thickness: 2px;
 }
 .about{
  text-decoration: underline;
  text-decoration-thickness: 2px;
 }
 .btn-3{
  padding: 17px 28px;
  background: black;
  color: white;
  transition: 0.5s;
  border: none;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 7px;
 }
 .email{
  padding: 20px 166px 20px 20px;
  margin-right: 14px;
  border: 1px solid #e4e4e4;
 }
 .logo-2{
  width: 154px;
    margin-top: 43px;
 }
 .logo-2 img{
  width: 100%;
  height: 100%;
 }
 .section span{
  display: block;
 }
 .section h2{
  font-size: 38px;
 }
 .copy{
 font-size: 16px;
 }
.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 1px solid; */
} 
.last
{
  padding: 20px 0;
}
 .copyright  img{
  width: 20px;
  object-fit: contain;
 }
 .section h4>span{
  display: block;
 }
 .section h2{
  margin: 9px;
  line-height: 2.9rem;
  margin-bottom: 30px;
 }
 .section h4{
  margin: 0;
 }
 .footer-padding>ul>li>h3{
  text-decoration: underline;
  text-decoration-thickness: 2px;
 }
 .mx-auto{
    margin: 0 auto;
 }
 .icons-2{
    display: flex;
    /* margin-top: 85px; */
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 31px 100px;
    border-right: 1px solid;
 }
 .icons-2 img{
  /* padding: 0 5px 0 30px; */
 }
 .btn-2{
  padding: 16px 34px;
  background: black;
  color: white;
  transition: 0.5s;
  border: none;
  border-radius: 5%;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 7px;
 }
 .btn-2:hover{
  background-color: white;
    color: black;
 }
 .top-nav .right-arrow:hover{
  background-color: white;
  color: black;
 }
 .lock{
  position: relative;
    width: 25px;
    top: 8px;
 }
 .link{
  
border: 1px solid black;
  
border-radius: 65px;
  
font-size: 13px;
  
padding: 10px 18px;
  
transition: .3s;
  
cursor: pointer;
 }
 .link:hover{
  background-color: black;
  color: white;
  
 }
 .cart-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 14px;
  border-radius: 12px;
  cursor: pointer;
 }
 .cart-1{
  /* width: 253px; */
  padding: 1rem;
  height: 203px;
 }
 .cart-1 h3{
  
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,3,1) 100%);
  
background-size: 0 2px;
  
background-position: 0 95%;
  
transition: background-size 0.5s;
  
padding: 0.3% 0;
  
background-repeat: no-repeat;
  
color: inherit;
  
font-size: 1.1rem;
  
display: inline;
  
cursor: pointer;
 }
 .cart-1 h3:hover {
  background-size: 100% 2px;
}
 .mx{
  padding: 60px 0;
  border-top: 1px solid black;
 }
.links{
  margin-bottom: 14px;
}
 .logo img{
    width: 100%;
    height: 100%;
 }
 .image-2 a{
  font-size: 36px;
  font-weight: 100;
  color: black;
  text-align: center;
  position: relative;
 }
 .image-2 a>img{
  width: 12%;
  position: absolute;
  transform: translate(10px, 10px);
  left: 392px;
  bottom: 8px;
 }
 .images img{
  width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
 }
 .cart{
  padding: 1.5rem;
 }
 
 .cart h1 {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,3,1) 100%);
  background-size: 0 2px;
  background-position: 0 95%;
  transition: background-size 0.5s;
  padding: 0.3% 0;
  background-repeat: no-repeat;
  color: inherit;
  font-size: 1.6rem;
  display: inline;
  cursor: pointer;
}

 .cart h1:hover {
  background-size: 100% 2px;
}
 .images{
  /* width: 341px; */
  cursor: pointer;
  height: 279px;
  margin-bottom: 20px;
 }
 .cart a{
 color: black;
 }
  @media (min-width: 768px) {
    .container {
      max-width: 740px;
    }
  }
  
  @media (min-width: 900px) {
    .container {
      max-width: 860px;
    }
  }
  
  @media (min-width: 1000px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1025px) {
    .container {
      max-width: 1000px;
    }
  }
  
  @media (min-width: 1100px) {
    .container {
      max-width: 1080px;
    }
  }
  
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }
  
  @media (min-width: 1440px) {
    .container {
      max-width: 1400px;
    }
  }
  @media screen and (max-width: 767px) {
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;
    }  
  }
  @media screen and (max-width: 575px) {
    .container {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;} 
  
  
    
  

  @media (max-width: 1399px){
    .col-xxl-1 {width: 8.33%;}
    .col-xxl-2 {width: 16.66%;}
    .col-xxl-3 {width: 25%;}
    .col-xxl-4 {width: 33.33%;}
    .col-xxl-5 {width: 41.66%;}
    .col-xxl-6 {width: 50%;}
    .col-xxl-7 {width: 58.33%;}
    .col-xxl-8 {width: 66.66%;}
    .col-xxl-9 {width: 75%;}
    .col-xxl-10 {width: 83.33%;}
    .col-xxl-11 {width: 91.66%;}
    .col-xxl-12 {width: 100%;} 
    
  }
  @media (max-width: 1199px){
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;} 
    
  }
  @media (max-width: 991px){
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
  }
  @media (max-width: 767px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
  }

  @media (max-width: 575px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  }
  .top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    border-left: none;
    border-right: none;
  }
  .top-nav-right .right-arrow{
    padding: 9px 25px;
    background: black;
    color: white;
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 5%;
    text-decoration: none;
    
}.top-nav-right span{
    padding: 9px 25px;
    background: black;
    color: white;
    transition: 0.5s;
    border: none;
    border-radius: 5%;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 7px;
}
.footer{
  padding: 60px 0 0 0;
}
.christmas{
  padding: 60px 0;
  margin-top: 40px;
  border-top: 1px solid;
}
.footer-border{
  border-top: 1px solid;
  line-height: 2.9rem;
  justify-content: center;
}
.footer-padding{
  padding: 38px 0 38px 0;
  /* border-bottom: 1px solid; */
}
.final-footer{
  justify-content: center;
  border-top: 1px solid;
  margin-bottom: 25px;
  border-bottom: 1px solid;
}
.icon-2 a img{
  width: 18px;
}
.lists ul{
  padding: 0;
}
.listed ul{
  padding: 0;
  line-height: 1.6;
}

.lists{
 display: flex;
 justify-content: center;
  border-right: 1px solid black;
}
.listing{
  border-right: none;
}
.listed{
  border-right: 1px solid black;
}
.lists a{
  color: black;
}
  .list{
    
        border-right: 1px solid black;
        border-left: 1px solid black;
    
  }
  .list ul{
    display: flex;
    margin: 0;
    padding: 2.5rem 3rem;
  }
  /* .list ul li{
    padding: 0px 89px 0 0;
  } */
  .logo{
    width: 154px;
    /* margin-top: 43px; */
    /* padding: 16px 26px; */
  }
  .list ul li a{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,3,1) 100%);
    background-size: 0 2px;
    background-position: 0 95%;
    transition: background-size 0.5s;
    padding: 0.3% 0;
    background-repeat: no-repeat;
    color: inherit;
    font-size: 1.0rem;
    display: inline;
    cursor: pointer;
  }
  .list ul li a:hover{
    background-size: 100% 2px;
  }
  .footer-list a{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,3,3,1) 100%);
    background-size: 0 2px;
    background-position: 0 95%;
    transition: background-size 0.5s;
    padding: 0.3% 0;
    background-repeat: no-repeat;
    color: inherit;
    font-size: 1.1rem;
    display: inline;
  }
  .footer-list a:hover{
    background-size: 100% 2px;
  }
  *{
    /* outline: 2px solid red; */
  }

  .list ul li:not(:last-child) {
    padding-right: 4rem;
}
.top-nav-right img{
    width: 14px;
    height: 14px;
    display: none;
}
.top-nav-right a:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    /* border: 1px solid grey; */
    cursor: pointer;
    transition: 0.5s;
}
.top-nav-right .right-arrow{
    display: none;
}
.top-nav-right .xl{
    display: none;
}

.top-nav-right .icons{
    padding: 0px 30px 0 0px;
    color: black;
}
.top-nav-right a span:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}
.image-2 img{
  width: 13%;
}
.image-2 h1{
  font-size: 92px;
  padding: 0 64px;
  /* border-bottom: 1px solid black; */
  padding-bottom: 88px;
}
.third-nav{
  display: flex;
  justify-content: space-between;
}
.third-nav a{
  color: black;
  text-decoration: underline;
  transition: .3s;
}
.third-nav a:hover{
text-decoration: none;
}
.third-nav h3 img{
  width: 3.2%;
  padding: 0 5px;
}
.image-2 h1 span{
  display: block;
}
@media (max-width: 1199px){
    .list ul {
        padding: 2.5rem 1rem;
    }
    .copyright{
      padding-left: 41px;
      font-size:15px;

    }
    .btn-1{
        display: none;
    }
    /* .top-nav-right .xl {
        display: block;
    } */
    .top-nav-right .icons {
        padding: 0px 2px 0 0px;
    }
    .top-nav-right .right-arrow{
        display: block;
        padding: 10px 12px;
        border-radius: 7px;
    }
    .top-nav-right span{
        display: none;
    }
    .top-nav-right{
        display: flex;
        align-items: center;
}
.top-nav-right .icons{
    padding: 10px 12px;
}
}
@media (max-width: 991px){
  .cart-1{
    padding: 118px 1.3rem 0 0;
    height: 203px;
  }    
    .top-nav-right{
        display: flex;
        align-items: center;
    }
    .top-nav-right span{
        display: none;
    }
    .top-nav-right .right-arrow{
      display: none;
    }
    .top-nav-right img{
      display: block;
    }
    .col-lg-6{
      justify-content: flex-end;
      /* border-left: 1px solid; */
    }
  
    .image-2 img {
      width: 30%;
  }
  .image-2 h1 span {
    display: contents;
}
/* resposive navbar start*/

.list {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 999;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10%);
  transition: 0.5s; 

}

ul.show {
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.list ul li a {
  font-size: 4vw;
  font-weight: 900;
  color: #fff;
  transform: translateY(100%);
  display: inline-block;
  transition: all 0.5s;
}
ul.show li {
  padding-right: 0 !important;
  height: 56px;
  overflow: hidden;
}

/* cross  icon */
.cross_icon {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.cross_icon img {
  height: 30px;
  width: 30px;
}
.cross_icon:hover {
  background: orange;
}
/* show navbar*/
.list.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  
}
.list.show ul li a {
  transform: translateY(0);
  transition-delay: 0.8s;
}
/* resposive navbar end*/
}
@media (max-width: 765px){
  .footer-border{
    flex-direction: column;
    align-items: center;
  }
  .lists{
    border-right: none;

  }
  .listed{
    border-right: none;
  }
  .icons-2{
    border-right: none;
    padding: 0 0 0 0;
    margin-top: 20px;
  }
}

@media (max-width: 575px){
/* responsive nav */
.list ul li a {
  font-size: 22px;  
}
ul.show li {
  height: 42px;
}
.view{
  font-size: 12px;
}
.mx{
  padding: 35px 0;
}
.cart-1 {
  padding: 94px 1.3rem 0;
  }
  .genelia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-padding{
    padding: none;
  }
  .copyright{
  }
  /* .icons-2{
    margin-top:20px;
  } */
  .section img {
    width: 9%;
}
/* responsive nav */

.image-2 h1 {
    font-size: 52px;
  }
  .logo {
    width: 144px;
}
.image-2 h1 {
  font-size: 42px;
  padding: 0 64px;
  /* border-bottom: 1px solid black; */
  padding-bottom: 88px;
}
.image-2 a {
  font-size: 16px;}
  .image-2 a>img {
    width: 12%;
    position: absolute;
    transform: translate(10px, 10px);
    left: 160px;
    bottom: 8px;
}
.email {
  padding: 20px 0px 20px 9px;
  margin-right: 14px;
  border: 1px solid #e4e4e4;
}
.btn-3 {
  padding: 11px 2px;
  font-size: 12px;
}
}

/* sign - in css */
.logo-1{
    width: 125px;
    margin-bottom: 84px;
    margin-right: 213px;
}
.container-fluids{
    margin: 58px 3px 0px 50px;
}
#form-sign-in{
    padding: 20px 132px 20px 23px;
    border: 1px solid #dee2e6;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.image-1{width: 464px;height: 509px;}
.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form h1{
    
font-size: 44px;
    
font-weight: 700;
}
.logo-1 img{
    width: 100%;
    height: 100%;
 }
 .image-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
 }
 
 
 .sign-in .first-link{
display: block;
text-decoration: none;
    
padding: 15px 24px 15px;
    
border: 1px solid black;
    
width: 120px;
    
margin-top: 20px;
    
border-radius: 6px;
    
background: black;
    
color: white;
    
transition: .3s;
 }
 .sign-in .first-link:hover{
    background-color: white;
    color: black;
 }
 p>a>span{
    color: black;
    text-decoration: underline;
    transition: .5s;
 }
 p>a>span:hover{
    text-decoration: none;
 }
 .icons-1{
    display: flex;
    margin-top: 49px;
    justify-content: space-between;
    /* padding: 0 362px 0 0px; */
    cursor: pointer;
 }
 @media (max-width: 991px){
    .image-1 {
        display: none;
    }
    .copyright{
      /* padding-left: 65px; */
    }
    body{
        margin: 0;
    }
    /* .col-md-12{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } */
    .icons{
        display: flex;
    justify-content: space-between;
    }
  }

  @media (max-width: 575px){

  }
  /* *{
    outline: 2px solid red;
  } */